<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Report Download"></div>
<sly data-sly-use.reportDownload="com.fraserproperty.onebangkok.core.models.ReportDownloadModel"/>
<div class="ob-container container--left container-reports">
    <div class="header-no-button">
        <h2 class="header--black-left" data-aos="fade-up" data-aos-offset="0">${reportDownload.heading @
            context='html'}</h2>
        <p class="body-2--black-left" data-aos="fade-up" data-aos-offset="0">
            ${reportDownload.description @ context='html'}
        </p>
    </div>
    <div class="article-menus" data-aos="fade-up" data-aos-offset="0">

        <div>
            <div class="nav--black-left text--bold article-menus__label">${reportDownload.filterHeading}</div>
            <sly data-sly-test="${reportDownload.filterDefaultText  }">
                <div class="custom-dropdown" data-filter-selector="report-filter">
                    <div class="custom-dropdown__active-item">
                            <span class="custom-dropdown__active-option-value">${reportDownload.filterDefaultText}</span
                            >
                        <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M55.864 49.595a4.745 4.745 0 0 0 6.74 0 4.818 4.818 0 0 0 0-6.783L35.37 15.405a4.745 4.745 0 0 0-6.74 0L1.396 42.812a4.818 4.818 0 0 0 0 6.783 4.745 4.745 0 0 0 6.74 0l23.877-24.029 23.851 24.03z"
                                    fill="#000"
                                    fill-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="custom-dropdown__options">
                        <div class="custom-dropdown__item active" data-option-value="all" data-option-name="${reportDownload.filterDefaultText}">
                            ${reportDownload.filterDefaultText}<img src="/etc.clientlibs/onebangkok/clientlibs/clientlib-base/resources/images/icons/icons-checked.svg"/>
                        </div>
                        <!-- <div class="custom-dropdown__item" data-option-value="2021" data-option-name="2021">
                            2021<img src="./assets/icons/icons-checked.svg" />
                        </div>
                        <div class="custom-dropdown__item" data-option-value="2020" data-option-name="2020">
                            2020<img src="./assets/icons/icons-checked.svg" />
                        </div> -->
                    </div>
                </div>
            </sly>
        </div>
        <sly data-sly-test="${reportDownload.assetrootPath && reportDownload.pdfDetails}">
            <div class="counter">
                <div class="nav--black-left text--bold text--uppercase">showing</div>
            </div>
        </sly>
    </div>
    <sly data-sly-test="${reportDownload.pdfDetails && reportDownload.assetrootPath}">
        <div class="report-thumbnail">
            <div
                    class="report-thumbnail-list"
                    data-aos="fade-up"
                    data-aos-offset="=0"
                    data-pagination-current="0"
                    data-filter-id="report-filter"
                    data-filter-current="all"
                    data-pagination="pagination-type-1-reports"
                    data-pagination-config="mobile-only"
            >
                <sly data-sly-list="${reportDownload.pdfDetails}">
                    <div class="article-thumbnail-item" data-filter="${item.year}">
                        <a class="report-thumbnail-item__image">
                            <img src="${item.pdfImage}"/>
                        </a>
                        <p class="body-2--black-left article-thumbnail-item__content">${item.pdfName}</p>
                        <a class="button button--text" href="${item.ctaUrl}"> ${reportDownload.downloadctaLabel} </a>

                    </div>
                </sly>
            </div>
            <div class="pagination">
                <svg class="pagination__back-btn" width="26" height="16" viewBox="0 0 26 16"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M8.125 0C3.547 0 0 3.582 0 7.795 0 12.418 3.547 16 8.125 16c3.988 0 7.405-3.273 7.698-7.6h5.844v2L26 8l-4.333-2.4v2l-5.827.001v-.048C15.707 3.445 12.217 0 8.125 0zm-.203 15.2C3.984 15.2.792 11.976.792 8S3.984.8 7.922.8c3.805 0 6.913 3.01 7.119 6.8H8.273v.8h6.768c-.206 3.79-3.314 6.8-7.12 6.8z"
                            fill="#000"
                            fill-rule="evenodd"
                    />
                </svg>
                <div class="pagination--dots"></div>
                <svg class="pagination__next-btn" width="26" height="16" viewBox="0 0 26 16"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M8.125 0C3.547 0 0 3.582 0 7.795 0 12.418 3.547 16 8.125 16c3.988 0 7.405-3.273 7.698-7.6h5.844v2L26 8l-4.333-2.4v2l-5.827.001v-.048C15.707 3.445 12.217 0 8.125 0zm-.203 15.2C3.984 15.2.792 11.976.792 8S3.984.8 7.922.8c3.805 0 6.913 3.01 7.119 6.8H8.273v.8h6.768c-.206 3.79-3.314 6.8-7.12 6.8z"
                            fill="#000"
                            fill-rule="evenodd"
                    />
                </svg>
            </div>
        </div>

        <div class="pagination pagination-desktop">
            <svg class="pagination__back-btn" width="26" height="16" viewBox="0 0 26 16"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M8.125 0C3.547 0 0 3.582 0 7.795 0 12.418 3.547 16 8.125 16c3.988 0 7.405-3.273 7.698-7.6h5.844v2L26 8l-4.333-2.4v2l-5.827.001v-.048C15.707 3.445 12.217 0 8.125 0zm-.203 15.2C3.984 15.2.792 11.976.792 8S3.984.8 7.922.8c3.805 0 6.913 3.01 7.119 6.8H8.273v.8h6.768c-.206 3.79-3.314 6.8-7.12 6.8z"
                        fill="#000"
                        fill-rule="evenodd"
                />
            </svg>
            <div class="pagination--dots"></div>
            <svg class="pagination__next-btn" width="26" height="16" viewBox="0 0 26 16"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M8.125 0C3.547 0 0 3.582 0 7.795 0 12.418 3.547 16 8.125 16c3.988 0 7.405-3.273 7.698-7.6h5.844v2L26 8l-4.333-2.4v2l-5.827.001v-.048C15.707 3.445 12.217 0 8.125 0zm-.203 15.2C3.984 15.2.792 11.976.792 8S3.984.8 7.922.8c3.805 0 6.913 3.01 7.119 6.8H8.273v.8h6.768c-.206 3.79-3.314 6.8-7.12 6.8z"
                        fill="#000"
                        fill-rule="evenodd"
                />
            </svg>
        </div>
    </sly>
    <sly data-sly-test="${!reportDownload.pdfDetails && reportDownload.assetrootPath}">
        <div class="ob-container empty-result">
            <div class="body-2--black-center">${reportDownload.noresultsMessage @ context='html'}</div>
        </div>
    </sly>
</div>