# Configuration created by Apache Sling JCR Installer
granttype="password"
enquireformactionpassword="cZMQiqsULspT"
crmposturl="https://frasersproperty.my.salesforce.com/services/data/v52.0/composite"
mailTemplateId="d-5fd7781b5d304426851347ceb2cdd950"
sgMailKey="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"
urlForIdentifier="/services/data/v41.0/sobjects/Lead/External_ID__c"
username="adminsetup@fraserproperty.com"
adobeioposturl="https://347497-onebangkokaio.adobeio-static.net/api/v1/web/onebangkok-api/post"
clientsecret="B7D0C6DC97F6815045D4FB982C4CE94736805F452A90458178765FE0F608ED0E"
googleSecretKey="6LeKZrIeAAAAAE3uxBGUMSVAQTRK_KvHpO9Z88Kc"
crmTokenIdUrl="https://login.salesforce.com/services/oauth2/token"
password="Salesforce1"
clientid="3MVG9pRzvMkjMb6naLaldTX8qgRm4ROcn8sadxMhtDScJjjRjmzSY62YRJlAzGGl2Hu_ACWLmaEjXk64FvefS"
siteKey="6LeKZrIeAAAAAB-8n55FDMVO8oYOObrN1ojh6l_g"
runtimelogginon="on"
senderEmail="no-reply@onebangkok.com"
