
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Quote Component"></div>
<sly data-sly-use.quote="com.fraserproperty.onebangkok.core.models.Quote"/>
            <div class="ob-container container--left container--article">
<div class="people-quote">
 <sly data-sly-test="${quote.image}">
    <img class="people-quote__profile-image" src="${quote.image}" alt="${quote.imageAltText}">
    </sly>
                    <div class="people-quote__content ${properties.hideQuotation ? 'hide-quote-icon' : ''}">
                        <img class="people-quote__open-commas" src="/etc.clientlibs/onebangkok/clientlibs/clientlib-base/resources/images/icons-open-comma.png">
                        <div>
                            <div class="people-quote__text">
                                ${quote.quoteText @context='html'}                             
<svg width="30" height="22" viewBox="0 0 30 22" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.476 22c1.867 0 3.398-.567 4.591-1.701 1.193-1.135 1.79-2.599 1.79-4.393 0-1.899-.57-3.39-1.712-4.47-1.141-1.082-2.62-1.623-4.436-1.623-1.868 0-3.372.633-4.514 1.9a4.796 4.796 0 0 1-.233-1.504c0-.58.078-1.187.233-1.82.208-1.372.87-2.718 1.985-4.036 1.115-1.32 2.425-2.295 3.93-2.929L24.41 0c-2.698 1.266-4.735 3.007-6.11 5.223-1.374 2.216-2.062 4.695-2.062 7.439 0 1.266.156 2.48.467 3.64.311 1.16.726 2.137 1.245 2.928 1.142 1.847 2.983 2.77 5.526 2.77zM7.238 22c1.867 0 3.398-.567 4.591-1.701 1.193-1.135 1.79-2.599 1.79-4.393 0-1.899-.57-3.39-1.712-4.47-1.141-1.082-2.62-1.623-4.436-1.623-1.868 0-3.372.633-4.514 1.9a4.796 4.796 0 0 1-.233-1.504c0-.58.078-1.187.233-1.82.208-1.372.87-2.718 1.985-4.036 1.115-1.32 2.425-2.295 3.93-2.929L8.172 0c-2.698 1.266-4.735 3.007-6.11 5.223C.687 7.439 0 9.918 0 12.662c0 1.266.156 2.48.467 3.64.311 1.16.726 2.137 1.245 2.928C2.854 21.077 4.695 22 7.238 22z" fill="#000" fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="people-quote__details">
        <sly data-sly-test="${quote.name}"><div class="people-quote__details-name">${quote.name}</div></sly>
        <sly data-sly-test="${quote.designation}"><div class="people-quote__details-role">${quote.designation}</div></sly>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
